/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Header styles */
  header {
    background-color: #578caa;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav {
    display: inline-block;
    vertical-align: top;
  }
  
  .search-form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
  }
  
  .search-form button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #4c37c0;
    color: #fff;
    cursor: pointer;
  }
  
  /* Main styles */
  main {
    padding: 20px;
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .question {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  h3 {
    font-size: 24px;
    color: #2459ca;
    margin-top: 0;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  